@font-face {
    font-family:"pixel";
    src: url("/fonts/Minecraft.ttf");
}
@font-face {
    font-family:"mario";
    src: url("/fonts/Daydream.ttf");
}

body{
    font-family: "pixel";
    color: white;
}

main{
    margin: 0px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 28px;
    color: lightblue;
    padding:30px 0px;
}
h2 {
    font-size: 26px;
    font-family: "pixel";
    margin: 0;
    padding-top: 20px;
}


/*Game */   
.container {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;   
    background-color: rgb(141, 141, 141);
    padding: 20px;
    max-width: 650px;
    width: 90vw;
    height: 70vh;
    border: solid 4px black;   
    border-radius: 26px;
    background-color: rgba(9, 28, 75, 0.897); 
}

/*Start Screen */
#start-screen {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#heart-section {
    top: 0;
    right: 0;
    position: absolute;
}

.heart {
    animation-name: myAnimation;
    animation-duration:  6s;
    animation-iteration-count: infinite ;
}

@keyframes myAnimation {
  0% {width: 45px;}
  50% {width: 50px;}
  100% {width: 45px;}
}

.startUI {
    padding-top: 155px;
    font-size: 65px;
}

#start-game, #play-again {
    display: flex;
    font-family: "pixel";
    font-size: 32px;
    border: 3px solid black;
    border-radius: 8px;
    width: 275px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#start-game:hover {
    background-color: rgb(228, 101, 107);
    font-size: 38px;
}


/*GameBoard */
#game-board {       
    visibility: hidden;  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    position: absolute;    
    font-size:26px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#display-choices {
    grid-row: 1/1;
    justify-self: center;
    padding-top: 25px;
}

#choice-list {    
    grid-row: 3/3;
    gap: 45px;
    justify-self: center;
    text-align: center;
}

.choice {
    border: solid;
    border-color: rgb(0, 139, 253);
    border-width: 5px;
    background-color: rgb(0, 139, 253);
    border-radius: 5px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 100px; 
    cursor: pointer; 
}

.choice:hover {
    background-color: bisque;
}

.choice-text{
    margin-bottom: 15px;
}

#display-choices img {
    width: 260px;
    padding: 0px 30px;
}

.js-text {
    font-family: "pixel";
    color:white;
    font-size: 18px;
    color: blue;
    text-align: center;
}

span {
    font-size: 42px;
    font-weight: bolder;
    position: absolute;
    justify-self: center;
    align-self: center;
}

#rules {
    position: absolute;
    font-family: "mario";
    font-size: 16px;
    top: 0;
}

.score-title {
    display: flex;
}

#scores {
    display: flex;
    position: absolute;
    top: 2px;
    left: 15px;   
    width: 215px;
    height: 75px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bolder;
}

 #result {
    padding-top: 10px;
    justify-self: center;
    font-size: 35px;
 }

 #play-again {
    display: flex;
    justify-self: center;
    align-content: center;
    align-items: center;
 }

#choice-list, #computer-choice{ 
    text-align: center; 
    margin-top: 20px; 
}

@media screen and (max-width:650px) {
img{
width:135px;
}
#rules, #scores{
    font-size: 9px;
    line-height: 15px;
    width:155px;
}
.choice{
    width:72px;
}
#game-board{
    padding:10px;
}
}